
/*
colors:
#ff6c00 - цвет подчеркивания
*/

a{
	color: red;
}

a:hover{
	color: #000;
}




/*navbar*/
.navbar-light{
	background-color: red;
}

.navbar-brand{
	margin-left: 50px; 
}

.nav-item{
	margin-right: 70px;
	text-transform: uppercase;
}

.nav-item a::after{
	content: '';
	display: block;
	width: 100%;
	background-color: #ff6c00;
	height: 2px;
	transform:scale(0);
	transition: all .150s;
}

.nav-item a:hover::after{
	transform: scale(1);
}

