
/*
colors:
#ff6c00 - цвет подчеркивания
#cccccc - цвет букв в navbar
*/

a{
	color: #cccccc;
}

a:hover{
	color: #ff6c00;
}




/*navbar*/

.navbar-brand{
	margin-left: 50px; 
}

.nav-item{
	margin-right: 30px;
	text-transform: uppercase;
}

.nav-item a::after{
	content: '';
	display: block;
	width: 100%;
	background-color: #ff6c00;
	height: 2px;
	transform:scale(0);
	transition: all .150s;
}

.nav-item a:hover::after{
	transform: scale(1);
}

